body, .elementor {
	h1, h2, h3, h4, h5, h6 {
		clear: both;
		font-weight: 700;
		line-height: 1.3em;
		margin: .3em 0px;
		color: $color_main;
	}

	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 2.2em;
	}
	
	h3 {
		font-size: 2em;
	}
	
	h4 {
		font-size: 1.8em;
	}
	
	h5 {
		font-size: 1.6em;
	}
	
	h6 {
		font-size: 1.2em;
	}

}