//Custom Font File

body, html {
    font-size: 16px;
}

/* Change */
header {
    padding: 0.5em 0;
    background-color: $red;
    color: #FFF;
    border-bottom: 4px solid $dark_red;

    .logo {
        img {
            max-height: 90px;
        }
    }

    .top-header {
        color: #000;
        font-family: $body_font;
        font-style: italic;
        font-weight: bold;
        text-align: right;

        .phone-number-text {
            font-size: 1.4em;
        }

        a {
            color: #000;

            &:hover {
                color: #333;
            }
        }
    }
}

// Body Content
#content {
    background: #FFF;
    color: $text;
}

//Banner
.slide-image-background {
    height: 400px;
    background-position: center center;
    background-size: cover;
}
.internal .slide-image-background {
    height: 200px;
    background-attachment: inherit;
    background-position: center center;
}
.index .carousel-caption {
    top: 20%;
    text-align: left;
    left: 5%;
    right: 25%;

    h1 {
        font-size: 3.5em;
        margin: 0;
        margin-left: 0.8em;
        display: inline-block;
        color: $red;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
    }
}
.internal .carousel-caption {
    h2 {
        font-size: 3.5em;
    }
}

.social-icons {
    font-size: 1.5em;
}


// Buttons
.btn {
    padding: $button_padd;
    font-family: $header_font;
    font-size: 28px;

    &.btn-light {
       color: $red !important; 
    }

    .svg-inline--fa {
        margin-right: 0.2em;
    }

}


// Footer
footer {
    padding: 3em 0 6em 0;
    background: $grey;
    color: #FFF;
    line-height: 2.5em;
    border-top: 5px solid #FFF;

    a, a:link, a:visited, a:hover, a:active {
        color: #FFF;
    }

    .footer-note {
        margin-top: 1em;
        line-height: 1.2em;

        small {
            display: block;
            margin-top: 1.5em;
            font-size: 12px;
        }
    }

}



/*
 * xs only
 */
@media ( max-width: map-get($grid-breakpoints, sm) ){
    
    body, html {
        font-size: 14px;
    }
    
    #top-bar {
        text-align: center;
    }

    .btn {
        padding: $mobile_button_padd;
        font-size: 1.4em;
    }
    .logo {
        margin-bottom: 5px;
    }
    .slide-image-background {
        height: 250px;
    }
    .carousel-caption {
        h2 {
            line-height: 1em !important;
            font-size: 2.5em !important;
        }
        span.excerpt {
            line-height: 1.5em !important;
        }
    }
    .index .carousel-caption h3 {
        display: none;
    }
    .internal .slide-image-background {
        height: 150px;
    }
    .internal .carousel-caption {
        h2 {
            font-size: 4em;
        }
    }
}

.content-body .blueimp-gallery {
    display: none !important;
}


/*
 * sm only
 */
@media ( min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)){
    .slide-image-background {
        height: 350px;
    }
}

/*
 * sm and xs
 */
@media (max-width: map-get($grid-breakpoints, md)){
    .index .carousel-caption {
        width: 100%;
        left: inherit;
        right: inherit;
        padding-left: 1em;
        padding-right: 1em;
    
        h1 {
            text-align: center;
            font-size: 2.5em;
        }
    }

    header {
        text-align: center;
        .top-header {
            text-align: center;
        }
    }
}

/*
 * md only
 */
@media ( min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)){
}

/*
 * lg only
 */
@media ( min-width: map-get($grid-breakpoints, lg)){
}