.btn, input[type=submit].btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;


    background-color: $color_main;
    color: $color_white_back;
  
  
    &:hover,
    &:focus,
    &.focus {
        background-color: lighten($color_main, 10%);
        color: $color_white_back;
        text-decoration: none;
    }
  
    &:active,
    &.active {
      outline: 0;
      background-image: none;
    }
  
    // [converter] extracted a& to a.btn
  }
  
  a.btn {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
  
  // Link buttons
  // -------------------------
  
  // Make a button look and behave like a link
  .btn-link {
    font-weight: normal;
    border-radius: 0;
  
    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
    }
    &,
    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }
    &:hover,
    &:focus {
      background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  input[type=submit].btn {
    font-weight: bold;
    padding: 1em 1em;
  }
  
  
  
  // Block button
  // --------------------------------------------------
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  // Vertically space out multiple block buttons
  .btn-block + .btn-block {
    margin-top: 5px;
  }
  
  // Specificity overrides
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    &.btn-block {
      width: 100%;
    }
  }
  