.site-header {
	background-color: $color_header;
	padding: 0.5em 1em;
	z-index: 100;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.site-branding {
	max-width: 400px;
	margin: auto;
	display: grid;
}

.logo-container {
	align-items: center;
	text-align: center;
}

/*
Header Menu
*/
@import "header-menu";

/*--------------------------------------------------------------
## Sociam Media Navigation
--------------------------------------------------------------*/
@import "social-navigation";
