.social-header {
	background-color: $color_main;
	color: $color_white_back;
	
	ul {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-end;
		margin: 0;
		padding: 0 1em;

		li:not(:first-child) {
			border-left: 1px solid $color_white_back;
		}

		li {
			display: inline-block;

			a {
				color: $color_white_back;
				text-decoration: none;
				padding: 0.6em 0.4em;
				font-size: 1.1em;

				&:hover {
					background-color: darken($color_main, 10%);
				}
			}
		}
	}
}