.content-banner {
    height: 300px;
    background-size: cover;
    background-position: center 10%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.banner-img { 
    background-size: cover;
    background-position: center center;
    height: 300px;
}

.single {
    .content-banner, .banner-img {
        height: 300px;
    }
}

@media screen and (min-width: $query__medium) {
    .content-banner {
        height: 450px;    
    }

    .banner-img-container {
        width: 100%;
        height: inherit;

        .banner-img {
            height: 450px;
            width: 70%;
            margin: auto;
            height: inherit;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.3);
            box-shadow:         0px 0px 8px 0px rgba(0, 0, 0, 0.3);
        }
    }

    .banner-back-blur {
        position: absolute;
        margin-top: -1%;
        margin-left: -1%;
        background-position: center center;
        background-size: cover;
        height: 110%;
        width: 110%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        z-index: -1;
    }

}