.sticky {
	display: block;
}

.extra {
	display: none;
}

.site-main {
	min-height: 100px;
	background-color: $color_white_back;
}

.section {
	padding: 1em;
}

.index-post-area {
	display: grid;
	grid-template-columns: 1fr;

	.post {
		display: grid;
		grid-template-columns: 3em 1fr;
		grid-template-areas: "postlink postcontent";
		grid-gap: 1em;
		margin: 2em 0;

		.post-link-icon {
			grid-area: postlink;
			text-align: center;
			
			a {
				background-color: $color_main;
				color: #FFF;
				padding: 0.5em 0.8em;
				display: inline-block;
				font-size: 1.2em;

				&:hover {
					background-color: darken($color_main, 10%);
				}
			}
		}

		.post-body-content {
			grid-area: postcontent;
			padding-left: 1.5em;
		}

	}

}

.cat-links {
	margin-bottom: .5em;
	font-family: $font__meta;
	font-size: 80%;

	a {
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;

		&:focus,
		&:hover {
			border-bottom-color: black;
		}
	}
}

.entry-title {
	margin: 0;
	font-size: 1.8em;
	text-align: left;

	a {
		text-decoration: none;
		color: $color_body_text;
		transition: color ease-in-out 0.15s;

		&:focus,
		&:hover {
			color: $color_main;
		}
	}
}

.post-entry-date {
	font-size: 0.8em;
	font-family: $body_font;
	font-style: italic;
}
.entry-header {
	line-height: 1em;
	margin-bottom: 0.5em;
}
.entry-link {
	padding-top: 1em;
	text-align: right;
	font-size: 0.8em;

	a {
		color: $color_main;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.post-body {
	margin-top: 2em;
	font-size: 1rem;
}

.entry-content {
	font-size: 0.8em;
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post-area-title {
	position: relative;
	text-align: center;
	height: 0;
	margin-top: -20px;

	.post-title-area {
		z-index: 300;
		display: inline-block;
		background-color: $color_main;
		color: $color_white_back;
		padding: 0.5em 2em;
		border: 3px solid $color_white_back;
		text-transform: uppercase;
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.5);
		box-shadow:         0px 0px 8px 0px rgba(0, 0, 0, 0.5);
		font-size: 1.5em;
		font-family: $header_font;
		margin-top: -30px;
	}
}


@media screen and (min-width: $query__medium){
	.index-post-area {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.5em;
	}
}
